<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<!-- head 조각 -->
	<head th:fragment="headFragment">
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
	
	    <!-- CSS here -->
	    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/hamburgers.min.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
	    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
	
		<!-- end: Css -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		
		<!-- 사용자 정의 title -->
		<th:block layout:fragment="customTitle"></th:block>
		<!-- 사용자 정의 Css -->
		<th:block layout:fragment="customCss"></th:block>
		<!-- 사용자 정의 Script -->
		<th:block layout:fragment="customScript"></th:block>
	</head>

</html>